CI_ENVIRONMENT = production
app.baseURL = 'https://sageuniversity.in/euphoria/'
app.indexPage = ''
app.appTimezone = 'Asia/Kolkata'
app.forceGlobalSecureRequests = true

database.default.hostname = localhost
database.default.database = CPANEL_USER_euphoria
database.default.username = CPANEL_USER_euphoria_user
database.default.password = REPLACE_WITH_STRONG_DATABASE_PASSWORD
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.port = 3306
database.default.DBDebug = false

encryption.key = hex2bin:REPLACE_WITH_64_HEX_CHARACTERS

cookie.secure = true
cookie.httponly = true
cookie.samesite = Lax
security.tokenName = csrf_token

EASEBUZZ_ENV = prod
EASEBUZZ_KEY = REPLACE_WITH_LIVE_EASEBUZZ_KEY
EASEBUZZ_SALT = REPLACE_WITH_LIVE_EASEBUZZ_SALT
PAYMENT_MODE = gateway
EASEBUZZ_TIMEOUT = 20
EASEBUZZ_PRODUCTINFO = euphoria2026
EASEBUZZ_ALLOW_SIGNED_CALLBACK_TEST = false
SCANNER_ALLOW_OFFDATE = false

email.protocol = smtp
email.SMTPHost = smtp.gmail.com
email.SMTPUser = registrations@sageuniversity.in
email.SMTPPass = REPLACE_WITH_GOOGLE_APP_PASSWORD
email.SMTPPort = 587
email.SMTPCrypto = tls
email.fromEmail = registrations@sageuniversity.in
email.fromName = 'SAGE EUPHORIA Registrations'